absl-py==2.1.0
alabaster==0.7.16
altair==5.2.0
ansi2html==1.9.1
anyio==4.2.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1704748008822/work
CachedMethods==0.1.4
cachetools==5.3.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi==1.16.0
CGRtools==4.1.35
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1695468724295/work
charset-normalizer==3.3.2
chembl-webresource-client==0.10.8
chemplot @ file:///home/conda/feedstock_root/build_artifacts/chemplot_1642534828180/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.1
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1699041715246/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datamol==0.12.3
debugpy==1.8.0
decorator==5.1.1
deepchem==2.7.1
defusedxml==0.7.1
docutils==0.20.1
easydict==1.11
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.1
flatbuffers==23.5.26
fqdn==1.5.1
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
fsspec==2023.12.2
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1703201730631/work
grpcio==1.60.0
h5py==3.10.0
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
ipykernel==6.29.0
ipython==8.18.1
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.1
jupyterlab==4.0.11
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.15.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380068083/work
libclang==16.0.6
llvmlite==0.41.1
loguru==0.7.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1705779003030/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1636786717297/work
matplotlib-inline==0.1.6
mdtraj==1.9.9
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
mlchemad==1.5.0
molplotly==1.1.7
MolVS==0.1.1
mordred==1.2.0
mpmath==1.3.0
munkres==1.1.4
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.5.9
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
notebook==7.0.7
notebook_shim==0.2.3
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1699456781043/work
numpy==1.24.4
numpydoc==1.6.0
oauthlib==3.2.2
oddt==0.7
OpenMM==8.0.0
opt-einsum==3.3.0
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1702057217217/work
pandocfilters==1.5.1
parso==0.8.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pdb-tools==2.5.0
pdbfixer @ file:///home/conda/feedstock_root/build_artifacts/pdbfixer_1684358331657/work
pexpect==4.9.0
PharmaContacts @ git+https://github.com/stsouko/PharmaContacts.git@ccc7b7c123eee432e6d700ff1d5cdd741e62617d
pharmd @ git+https://github.com/meddwl/pharmd.git@7f5c7e8577ba0a8bada323a8f478ce72f27a1534
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1704252271887/work
platformdirs==4.1.0
plotly==5.18.0
pmapper==1.0.4
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==4.23.4
psearch==0.0.4
psutil==5.9.8
ptyprocess==0.7.0
PubChemPy==1.0.4
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.25.1
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.17.2
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1700514549498/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373497981/work
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rdkit @ file:///Users/runner/miniforge3/conda-bld/rdkit_1704514785093/work
rdkit-pypi==2022.9.5
referencing==0.32.1
reportlab @ file:///Users/runner/miniforge3/conda-bld/reportlab_1704888484691/work
requests==2.31.0
requests-cache==0.7.5
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1687519531733/work
rpds-py==0.17.1
rsa==4.9
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1705657380118/work
scipy==1.8.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1704312987503/work
selfies==2.1.1
Send2Trash==1.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1704267726560/work
stack-data==0.6.3
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1702575718670/work
streamlit==1.31.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado==0.18.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.1.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1695373661905/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1703878702368/work
tzlocal==5.2
umap-learn @ file:///Users/runner/miniforge3/conda-bld/umap-learn_1700330878677/work
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.1.0
validators==0.22.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.14.1
xgboost==2.0.3
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1698325309404/work
zipp==3.17.0
